.DS_Store
CVFinalProject.xcodeproj/
CVFinalProject/CVFinalProject.xcodeproj/project.pbxproj
CVFinalProject/CVFinalProject.xcodeproj/project.xcworkspace/contents.xcworkspacedata
CVFinalProject/CVFinalProject.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
CVFinalProject/CVFinalProject.xcodeproj/project.xcworkspace/xcuserdata/philipbutler.xcuserdatad/UserInterfaceState.xcuserstate
CVFinalProject/CVFinalProject.xcodeproj/xcuserdata/philipbutler.xcuserdatad/xcschemes/xcschememanagement.plist
CVFinalProject/main.cpp

resize.py
__pycache__
.vscode